.pic{
    background-image: url("img/inner-banner.jpg");
    height: 500px;
    background-size: cover;
    color:#212529; 
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}
.end-pics:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}
.headerBanner {
    background: linear-gradient(rgba(7, 18, 62, 0.7), rgba(7, 18, 62, 0.7)),
      url("img/inner-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh !important;
  }